/* fonts used */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --font: 'Poppins';
    --btn-font-size: 1rem;
    --font-w400: 400;
    --font-w600: 600;
    --font-w700: 700;
    --white: #fff;
    --green: #96D068;
}

/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* body styling */
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: var(--dark-background, #161412);
    width: 100vh;
    height: 100vh;
}

/* logo side navbar AutoPay- Text*/

.logo-with-text {
    display: flex;
    align-items: center;
}

/* Logo Styling */
.logo {
    width: 2.75rem;
    height: 2.75rem;
    flex-shrink: 0;
    position: relative;
    margin-right: 0.325rem;
}

/* entire navbar */

.navbar {
    position: relative;
    display: flex;
    justify-content: space-around;
    left: 32rem;
    top: 2rem;
}

/* navbar right side list positioning */
ul {
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

/* right side navbar buttons styling */
.navbtn {
    color: var(--white);
    font-family: var(--font);
    font-size: var(--btn-font-size);
    font-style: normal;
    font-weight: var(--font-w400);
    line-height: normal;
    letter-spacing: 0.05rem;
    position: relative;
    left: 38rem;
}

/* Home button styling */
.home {
    color: var(--green);
    font-family: var(--font);
    font-size: var(--btn-font-size);
    font-style: normal;
    font-weight: var(--font-w400);
    line-height: normal;
    letter-spacing: 0.05rem;
}

/* underline -  Home button */
.home::after {
    content: "";
    width: 18px;
    border-bottom: 2px solid #96D068;
    position: absolute;
    top: 1.5rem;
    left: 0.9rem;
}

/* Logo text-Auto */
.auto {
    color: var(--green);
    font-family: var(--font);
    ;
    font-size: 1.5rem;
    font-weight: var(--font-w700);
    letter-spacing: 0.075rem;
}

/* Logo text-Pay */
.pay {
    color: var(--white);
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: var(--font-w700);
    letter-spacing: 0.075rem;
}

/* First Button under Navbar styling */
.first-btn-style {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background: #FF6154;
    color: var(--white);
    position: relative;
    left: 81rem;
    top: 5rem;
}

/* header */
.header {
    position: relative;
    width: 1095px;
    height: 234px;
    top: 6.25rem;
    left: 54.5rem;
    font-family: var(--font);
    font-size: 96px;
    font-weight: var(--font-w600);
    line-height: 117px;
    letter-spacing: 0em;
    text-align: center;
    color: var(--white);
}

/* green "automated" word */
.automated {
    color: var(--green);
}

/* description - first text under first header */
.description {
    position: relative;
    width: 917px;
    height: 72px;
    top: 10rem;
    left: 60.5rem;
    font-family: var(--font);
    ;
    font-size: 24px;
    font-weight: var(--font-w400);
    line-height: 36px;
    letter-spacing: 0.05em;
    text-align: center;
    color: var(--white);
}

/* Laptop App Preview Photo - style with mobile app preview photo next to it */
.img1 {
    position: relative;
    width: 887px;
    height: 499px;
    top: 15rem;
    left: 59.5rem;
}
/* Mobile app preview Photo - to be styled right to previous image */

.img2 {
    position: absolute;
    width: 14.4375rem;
    height: 28.875rem;
    flex-shrink: 0;
    right: -2.85rem;
    top: 5rem;
}

/* Explore App - Checkout Demo Buttons under first Previews of the app */
.btn-set {
    padding-top: 2rem;
    position: relative;
    left: 75.5rem;
    top: 20rem;
}

.explore-btn,
.checkoutdemo-btn {
    border-radius: 0.625rem;
    background: var(--primary-green, #96D068);
    width: 12.5rem;
    height: 3.125rem;
    flex-shrink: 0;
    margin-right: 2rem;
    color: var(--white);
    font-family: var(--font);
    font-size: var(--btn-font-size);
    ;
    font-style: normal;
    font-weight: var(--font-w600);
    line-height: normal;
    letter-spacing: 0.05rem;
}

/* Checkout Demo Button color */
.checkoutdemo-btn {
    background: var(--primary-blue, #65B7E2);
}

/* sections with image positioned row  */
.custom-api,
.cross-chain,
.visibility-and-control {
    position: relative;
    top: 22.5rem;
    left: 42.5rem;
    display: flex;
    padding-top: 5rem;
}

/* sections with image positioned row-reverse */
.mobile-compatible-checkout,
.secure-on-chain {
    position: relative;
    top: 22.5rem;
    left: 42.5rem;
    display: flex;
    flex-direction: row-reverse;
}

/* image styling */
.custom-api-img,
.cross-chain-img,
.visibility-and-control-img,
.secure-on-chain-img,
.mobile-checkout-img {
    width: 37.5rem;
    height: 37.5rem;
    flex-shrink: 0;
}

/* h6 styling */
.custom-api-h6,
.connect-with-us-h6,
.cross-chain-h6,
.mobile-checkout-h6,
.secure-on-chain-h6,
.visibility-and-control-h6 {
    color: var(--white);
    font-family: var(--font);
    font-size: 4rem;
    font-style: normal;
    font-weight: var(--font-w600);
    line-height: 4.86rem;
    width: 47.5rem;
}

/* h2 styling */
.custom-api-h2,
.connect-with-us-h2,
.cross-chain-h2,
.mobile-checkout-h2,
.secure-on-chain-h2,
.visibility-and-control-h2 {
    color: var(--white);
    font-family: var(--font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: var(--font-w400);
    line-height: 1.8225rem;
    width: 47.5rem;
}

/* small text styling */
.custom-api-txt,
.cross-chain-txt,
.connect-with-us-txt,
.mobile-checkout-txt,
.secure-on-chain-txt,
.visibility-and-control-txt,
.connect-with-us-txt {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 10.5rem;
}

/* connect with us section */
.connect-with-us {
    width: 92rem;
    height: 22.6875rem;
    flex-shrink: 0;
    position: relative;
    top: 22.5rem;
    left: 44.5rem;
    display: flex;
    flex-direction: row;
    border-radius: 1.25rem;
    background: linear-gradient(148deg, rgba(109, 109, 109, 0.60) 0%,
            rgba(17, 16, 29, 0.60) 100%);
    margin-top: 10.5rem;
}

.connect-with-us-h6 {
    padding: 3rem 3rem 2rem 2rem;
}

.connect-with-us-h2 {
    padding: 0 0 0 2rem;

}
.connect-with-us-btn {
    width: 15.625rem;
    height: 4.3125rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: var(--primary-green, #96D068);
    color: var(--white);
    font-family: var(--font);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: var(--font-w600);
    line-height: normal;
    letter-spacing: 0.075rem;
    margin-top: 2rem;
    margin-left: 20rem;
}

/*company trademark */
.autopay2022 {
    color: rgba(255, 255, 255, 0.35);
    font-family: var(--font);
    font-size: var(--btn-font-size);
    font-style: normal;
    font-weight: var(--font-w400);
    line-height: 1.215rem;
    position: relative;
    top: 22.5rem;
    left: 82rem;
    display: flex;
    flex-direction: row;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
